<img src='Data/ERD.png'>

In [2]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus as urlquote

username = 'root'
password = '********'

db_name = "Chinook"
connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"

In [3]:
engine = create_engine(connection)

In [4]:
engine

Engine(mysql+pymysql://root:***@localhost/Chinook)

In [5]:
q = """
SELECT I.CustomerId, I.Total, C.country
FROM Invoice I
JOIN customer C ON I.CustomerId = C. CustomerId
ORDER BY Total DESC
LIMIT 1;"""

pd.read_sql(q,engine)

   CustomerId  Total         country
0           6  25.86  Czech Republic

In [8]:
q = """
SELECT CustomerId, COUNT(*) as num_purchases
FROM INVOICE
GROUP BY CustomerID
ORDER BY num_purchases
LIMIT 1"""

pd.read_sql(q,engine)

   CustomerId  num_purchases
0          59              6